# Entornos virtuales
venv/
env/
.venv/
ENV/

# Archivos de caché de Python
**/__pycache__/
*.py[cod]
*$py.class

# Distribución / Empaquetado
dist/
build/
*.egg-info/

# Variables de entorno (Datos sensibles)
.env